main{
  padding: 0 2rem;
}

/* 画像カードが表示される領域 */
.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1.5rem;
}

.card {
  max-width: 350px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
}

.card img {
  border-radius: 8px;
}

.image-container {
  position: relative;
}

.preview-btn button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.7);
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 50%;
}

.image-container .prev {
  left: 0;
}

.image-container .next {
  right: 0;
}

.action-btn {
  position: absolute;
  border: none;
  cursor: pointer;
  font-size: 1.4em;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.edit-btn {
  bottom: 8px;
  right: 4px;
}

.delete-btn {
  bottom: 8px;
  right: 60px;
}

.edit-btn i {
  color: green;
}

.delete-btn i {
  color: red;
}

.no-image-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 260px; /* 画像の高さに合わせて調整 */
  background-color: #f0f0f0;
  border-radius: 8px;
}

.no-image-placeholder i {
  font-size: 4em; /* アイコンのサイズを調整 */
  color: #ccc;
}