* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
  font-family: "Noto Sans JP", sans-serif;
  user-select: none;
}

html {
  font-size: 16px;
}

body {
  background-color: #fafafa;
  color: #333;
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #fafafa;
}

.header-inner {
  width: 90%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
}

/* モバイルの時のメニュー */
.mobile-right-side {
  display: none;
}

header ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 2rem;
}

header ul li {
  font-size: 1.2rem;
  cursor: pointer;
}

header ul li:hover {
  opacity: 0.7;
}

.active-category {
  font-weight: bold;
  border-bottom: 2px solid #eac089;
}

.select-box {
  position: relative;
}

select {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  background-color: white;
  color: #333;
  -webkit-appearance: none;
  appearance: none;
  width: auto;
  min-width: 200px;
  cursor: pointer;
}

.header-inner .right-side li small {
  font-size: 0.8rem;
  opacity: 0.5;
  cursor: not-allowed;
}

footer {
  text-align: center;
  padding: 30px;
  background-color: #fafafa;
  font-size: 0.8rem;
  border-top: 1px solid #eac089;
}

main {
  padding: 0 2rem;
}

button{
  cursor: pointer;
}