main {
  max-width: 800px;
  margin: 0 auto;
}

/* フォーム全体 */
form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
  background-color: #fff;
  border-radius: 0.5rem;
}

/* 各入力ブロック */
form>div {
  display: flex;
  flex-direction: column;
}

/* ラベル */
label {
  font-size: 1rem;
  font-weight: 600;
  color: #374151;
  margin-bottom: 0.5rem;
}

/* テキスト入力・テキストエリア */
input[type="text"],
input[type="tel"],
input[type="number"],
input[type="date"],
input[type="time"],
select,
textarea {
  width: 100%;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  padding: 0.5rem 0.75rem !important;
  outline: none;
  font-size: 1rem;
  color: #111827;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
  background-color: #fff;
}

input[type='text']:focus,
input[type='tel']:focus,
input[type='number']:focus,
input[type='date']:focus,
input[type='time']:focus,
select:focus,
textarea:focus {
  border-color: #6366f1;
  box-shadow: 0 0 0 3px rgba(99, 102, 241, 0.3);
}

/* テキストエリアの高さ固定 */
textarea {
  height: 6rem;
  resize: none;
}

/* 送信ボタン */
button[type="submit"] {
  width: 10rem;
  background-color: #4f46e5;
  /* indigo-600 */
  color: #fff;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  transition: background-color 0.2s ease, opacity 0.2s ease;
  cursor: pointer;
  border: none;
  margin: 0 auto;
}

button[type="submit"]:hover {
  background-color: #4338ca;
  /* indigo-700 */
}

button[type="submit"]:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
